ul {
  margin: 20px 20px 0px 20px;
  padding: 5px 10px;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

ul li p::first-letter {
  text-transform: capitalize;
}

ul li button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding-left: 1em;
  color: #6b6b6b;
}

.impBtn :hover {
  color: #ffa515;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

ul li .important {
  color: #ffa515;
}

ul li .delBtn :hover {
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: red;
}

ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

ul label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

ul label input {
  margin-right: 25px;
}

ul label input:checked + p {
  text-decoration: line-through;
  color: #ccc;
}

.clear {
  text-align: end;
  padding-right: 25px;
  padding-bottom: 15px;
}

.clear .clearBtn {
  background-color: #f27445;
  border: none;
  color: white;
  padding: 4px 7px;
  border-radius: 3px;
  cursor: pointer;
}

.blink {
  animation: blinking 1000ms ease-in-out infinite;
}

@keyframes blinking {

  50%{opacity:0}

}

@media screen and (min-width: 768px) {
  ul label {
    font-size: 20px;
  }
  ul li button {
    font-size: large;
  }
}
