footer {
  position: fixed;
  bottom: 1%;
  width: 100%;
  color: #dddfff;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-left: 10px;
  width: 25px;
  cursor: pointer;
}
