ul {
  margin: 20px;
  padding: 5px 10px;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

ul li p::first-letter {
  text-transform: capitalize;
}

ul li button {
  border: none;
  background-color: transparent;
  font-size: large;
  padding-left: 1em;
}

.impBtn :hover {
  color: #ffa515;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.important {
  color: #ffa515;
}

.delBtn :hover {
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: red;
}

ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

ul label {
  display: flex;
  align-items: center;
  font-size: 20px;
}

ul label input {
  margin-right: 25px;
}

ul label input:checked+p {
  text-decoration: line-through;
  color: #ccc;
}

.delBtn {
  font-size: large;
}
