.container {
  background-color: whitesmoke;
  width: 90%;
  max-height: 65%;
  overflow-y: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.top {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
}

/* Responsive */

@media screen and (min-width: 768px) {
  * {
      font-size: 1.1rem;
  }

  .container {
      max-height: 575px;
      width: 730px;
  }
}

@media screen and (min-width: 1020px) {
  .container {
      width: 850px;
  }
}
